<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352482107380-eiteurjd3g46h3e2v5oajiuste1q8do3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352482107380-eiteurjd3g46h3e2v5oajiuste1q8do3</string>
	<key>API_KEY</key>
	<string>AIzaSyALjJfSMvKiU3hHD-nUwb4731SDNB0Ht8M</string>
	<key>GCM_SENDER_ID</key>
	<string>352482107380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vincentGeranium.MessengerApp</string>
	<key>PROJECT_ID</key>
	<string>realtimemessenger-7d8a5</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimemessenger-7d8a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352482107380:ios:401c3dafb429ed8b14e3a1</string>
</dict>
</plist>